@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: orange;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #b8b8be;
	color: rgb(57, 57, 57);
	line-height: 1.6;
}

.container {
	max-width: 768px;
	margin: auto;
	padding: 0 20px;
}

header {
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	text-shadow: 2px 2px 2px #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 75px;
	box-shadow: 0px 3px 3px olive;
}

.card {
	background-color: #fff;
	color: #333;
	border-radius: 15px;
	padding: 40px 50px;
	margin: 20px 0;
	position: relative;
	box-shadow: inset 0 -2em 3em rgba(0, 0, 0, 0.2), 0 0 0 2px rgb(255, 255, 255),
		0.3em 0.3em 1em rgba(0, 0, 0, 0.4);
}

.rating {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 30px 0 40px;
}

.rating li,
.num-display {
	position: relative;
	background: #f4f4f4;
	width: 50px;
	height: 50px;
	padding: 10px;
	text-align: center;
	border-radius: 50%;
	font-size: 19px;
	border: 1px #eee solid;
	transition: 0.3s;
}

.card h2 {
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}

ul {
	list-style: none;
}

.rating li label {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.rating li:hover,
.num-display {
	background: orange;
	color: #fff;
}

.input-group {
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	padding: 8px 10px;
	border-radius: 8px;
}

input {
	flex-grow: 2;
	border: none;
	font-size: 16px;
	background-color: transparent;
}

input:focus {
	outline: none;
}

.feedback-stats {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.num-display {
	position: absolute;
	top: -10px;
	left: -10px;
}

.close,
.edit {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	background: none;
	border: none;
	color: orange;
}

.edit {
	right: 40px;
}

.btn {
	color: #fff;
	border: 0;
	border-radius: 8px;
	color: #fff;
	width: 100px;
	height: 40px;
	cursor: pointer;
	background-color: orange;
}

.btn:hover {
	border: 1px solid white;
	opacity: 0.9;
}

.btn:disabled {
	background-color: #cccccc;
	color: #333;
	cursor: auto;
}

.btn:disabled:hover {
	transform: scale(1);
	opacity: 1;
}

.message {
	padding-top: 10px;
	text-align: center;
	color: orange;
}

[type='radio'] {
	opacity: 0;
}

[type='radio']:checked ~ label {
	background: orange;
	color: #fff;
}

.about-link {
	display: flex;
	justify-content: flex-end;
}

.about-link a {
	color: orange;

	cursor: pointer;
}

.about-link a:hover {
	color: olive;
}

.about h2 {
	margin-bottom: 20px;
}

.about p {
	margin: 10px 0;
}
.spinner {
	width: 150px;
	margin: auto;
	display: block;
}

@media (max-width: 600px) {
	.rating li {
		margin: 10px 3px;
	}

	.rating {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 30px 0 40px;
	}

	.input-group input {
		width: 80%;
	}
}
